Repository MirceaDumitrescu/React-Web-Game, pull requests merged in 2022-12, with the labels that each got.

#50 Feature/char creation refactor
  backend/middlewares/validations.ts
  backend/models/character.ts
  backend/models/user.ts
  backend/package-lock.json
  backend/routes/character.routes.ts
  backend/src/index.ts
  frontend/package-lock.json
Labels: backend

#42 Feature/character selection creation page
  frontend/src/pages/character-creation/char_class.json
  frontend/src/pages/character-creation/character-creation.scss
  frontend/src/pages/character-creation/chracter-creation.tsx
  frontend/src/pages/character-selection/character-selection.scss
  frontend/src/pages/character-selection/character-selection.tsx
  frontend/src/routes.tsx
Labels: frontend, feature

#57 Develop into master. RELEASE 0.2
  backend/middlewares/validations.ts
  backend/models/character.ts
  backend/models/user.ts
  backend/package-lock.json
  backend/routes/auth.routes.ts
  backend/routes/character.routes.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.scss
  frontend/src/App.tsx
  frontend/src/api/api.login.ts
  frontend/src/components/AuthGuard/AuthGuard.tsx
  frontend/src/components/button/buttonGenerator.scss
  frontend/src/components/button/buttonGenerator.tsx
  frontend/src/components/formGenerator/formGenerator.scss
  frontend/src/components/formGenerator/formGenerator.tsx
  frontend/src/components/toasts.ts
  frontend/src/components/toasts/toasts.ts
  frontend/src/features/hooks/hooks.ts
  frontend/src/features/reducers/loginStatusReducer.tsx
  frontend/src/features/utils/DataLayer.tsx
  frontend/src/features/utils/helpers.tsx
  frontend/src/pages/character-creation/char_class.json
  frontend/src/pages/character-creation/character-creation.scss
  frontend/src/pages/character-creation/chracter-creation.tsx
  frontend/src/pages/character-selection/character-selection.scss
  frontend/src/pages/character-selection/character-selection.tsx
  frontend/src/pages/formGenerator/formGenerator.tsx
  frontend/src/pages/homepage/config_btn_home.tsx
  frontend/src/pages/homepage/homepage.tsx
  frontend/src/pages/login/__snapshots__/login.test.tsx.snap
  frontend/src/pages/login/config_btn_login.tsx
  frontend/src/pages/login/config_login.tsx
  frontend/src/pages/login/login.scss
  frontend/src/pages/login/login.test.tsx
  frontend/src/pages/login/login.tsx
  frontend/src/pages/profilePage/profilePage.scss
  frontend/src/pages/profilePage/profilePage.tsx
  frontend/src/pages/register/__snapshots__/register.test.tsx.snap
  frontend/src/pages/register/config_btn_register.tsx
  frontend/src/pages/register/config_register.tsx
  frontend/src/pages/register/register.scss
  frontend/src/pages/register/register.test.tsx
  frontend/src/pages/register/register.tsx
  frontend/src/routes.tsx
  frontend/src/store.ts
  frontend/src/variables.scss
Labels: release

#58 Tried to fetch all data from characters db and it works.
  .DS_Store
  backend/models/character.ts
  backend/routes/character.routes.ts
  frontend/index.d.ts
  frontend/src/api/api.character.ts
  frontend/src/assets/char-create-bg.gif
  frontend/src/assets/chracter-sprites/assasin/assasin-gif.gif
  frontend/src/assets/chracter-sprites/assasin/assasin-symbol.gif
  frontend/src/assets/chracter-sprites/mage/mage-1.png
  frontend/src/assets/chracter-sprites/mage/mage-2.png
  frontend/src/assets/chracter-sprites/mage/mage-3.png
  frontend/src/assets/chracter-sprites/mage/mage-gif.gif
  frontend/src/assets/chracter-sprites/mage/mage-symbol.gif
  frontend/src/assets/chracter-sprites/ranger/ranger-gif.gif
  frontend/src/assets/chracter-sprites/ranger/ranger-symbol.gif
  frontend/src/assets/chracter-sprites/warrior/warrior-gif.gif
  frontend/src/assets/chracter-sprites/warrior/warrior-symbol.gif
  frontend/src/assets/chracter-sprites/warrior/warrior-symbol2.gif
  frontend/src/assets/interface_elements/buttons/class_btn.png
  frontend/src/assets/interface_elements/buttons/class_btn_i.png
  frontend/src/assets/interface_elements/create_element.gif
  frontend/src/pages/character-creation/char_class.json
  frontend/src/pages/character-creation/character-creation.scss
  frontend/src/pages/character-creation/character-creation.tsx
  frontend/src/pages/character-creation/chracter-creation.tsx
  frontend/src/routes.tsx
  frontend/src/variables.scss
  frontend/tsconfig.json
Labels: feature

#68 Implemented the footer component.
  frontend/src/App.tsx
  frontend/src/assets/interface_elements/footer/footer_logo.png
  frontend/src/assets/social_icons/facebook_icon.png
  frontend/src/assets/social_icons/instagram_icon.png
  frontend/src/assets/social_icons/titktok_icon.png
  frontend/src/assets/social_icons/twitter_icon.png
  frontend/src/components/footer/footer.scss
  frontend/src/components/footer/footer.tsx
  frontend/src/pages/character-creation/character-creation.scss
  frontend/src/pages/character-creation/character-creation.tsx
  frontend/src/pages/login/login.scss
  frontend/src/pages/profilePage/profilePage.scss
  frontend/src/pages/register/register.scss
  frontend/src/variables.scss
Labels: frontend, feature
