Repository MirceaDumitrescu/React-Web-Game, pull requests merged in 2022-11, with the labels that each got.

#5 Update: started the first issue
  .DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.scss
  frontend/src/App.tsx
  frontend/src/assets/menu-background.gif
  frontend/src/pages/login/login.scss
  frontend/src/pages/login/login.tsx
  frontend/src/pages/register/register.scss
  frontend/src/pages/register/register.tsx
  frontend/src/variables.scss
  frontend/tsconfig.json
Labels: good first issue

#11 #8 input verification register
  frontend/src/pages/register/register.scss
  frontend/src/pages/register/register.tsx
Labels: frontend, feature

#12 #8 input verification register
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/pages/formGenerator/formGenerator.tsx
  frontend/src/pages/login/config_login.tsx
  frontend/src/pages/login/login.scss
  frontend/src/pages/login/login.tsx
  frontend/src/pages/register/config_register.tsx
  frontend/src/pages/register/register.scss
  frontend/src/pages/register/register.tsx
Labels: feature

#17 Feature router
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/App.tsx
  frontend/src/pages/formGenerator/formGenerator.tsx
  frontend/src/pages/homepage/homepage.scss
  frontend/src/pages/homepage/homepage.tsx
  frontend/src/pages/login/login.tsx
  frontend/src/pages/register/register.tsx
  frontend/src/routes.tsx
Labels: frontend, feature

#19 Implemented toastify
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/toasts.ts
  frontend/src/pages/login/login.tsx
  frontend/src/pages/register/register.tsx
Labels: frontend, feature

#26 Feature redux state manager
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/features/reducers/loginStatusReducer.tsx
  frontend/src/pages/login/login.tsx
  frontend/src/pages/profilePage/config_profile.tsx
  frontend/src/pages/profilePage/profilePage.tsx
  frontend/src/pages/register/register.tsx
  frontend/src/routes.tsx
Labels: frontend, feature

#27 Implemented the register function using the backend.
  backend/package-lock.json
  frontend/src/api/auth.login.ts
  frontend/src/api/auth.register.ts
  frontend/src/pages/register/register.tsx
Labels: frontend, backend, feature

#33 Develop v0.1 release
  backend/.gitignore
  backend/middlewares/validateJWT.ts
  backend/middlewares/validations.ts
  backend/models/user.ts
  backend/nodemon.json
  backend/package-lock.json
  backend/package.json
  backend/routes/auth.routes.ts
  backend/src/index.ts
  backend/tsconfig.json
  backend/utils/permissions.ts
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/api/api.login.ts
  frontend/src/api/auth.login.ts
  frontend/src/api/auth.register.ts
  frontend/src/components/toasts.ts
  frontend/src/features/reducers/loginStatusReducer.tsx
  frontend/src/pages/formGenerator/formGenerator.tsx
  frontend/src/pages/homepage/homepage.scss
  frontend/src/pages/homepage/homepage.tsx
  frontend/src/pages/login/config_login.tsx
  frontend/src/pages/login/login.scss
  frontend/src/pages/login/login.tsx
  frontend/src/pages/profilePage/config_profile.tsx
  frontend/src/pages/profilePage/profilePage.tsx
  frontend/src/pages/register/config_register.tsx
  frontend/src/pages/register/register.scss
  frontend/src/pages/register/register.tsx
  frontend/src/routes.tsx
Labels: release

#35 Feature/redesign forms frontend
  frontend/src/pages/formGenerator/formGenerator.tsx
  frontend/src/pages/homepage/homepage.tsx
  frontend/src/pages/login/config_login.tsx
  frontend/src/pages/login/login.scss
  frontend/src/pages/login/login.tsx
  frontend/src/pages/register/config_register.tsx
  frontend/src/pages/register/register.scss
  frontend/src/pages/register/register.tsx
  frontend/src/variables.scss
Labels: frontend, feature

#36 Implemented the button component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/button/buttonGenerator.scss
  frontend/src/components/button/buttonGenerator.tsx
  frontend/src/components/formGenerator/formGenerator.tsx
  frontend/src/pages/homepage/config_btn_home.tsx
  frontend/src/pages/homepage/homepage.tsx
  frontend/src/pages/login/config_btn_login.tsx
  frontend/src/pages/login/login.tsx
  frontend/src/pages/register/config_btn_register.tsx
  frontend/src/pages/register/register.tsx
Labels: frontend, feature

#39 Fixed the last issues regarding the previous merge
  frontend/src/components/button/buttonGenerator.scss
  frontend/src/pages/homepage/homepage.tsx
Labels: frontend, feature
